*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color: blueviolet;
}

#container{
    padding: 2rem 0 15rem 2rem;
    width: 95%;
    text-align: center;
}

h1{
    border: 1px solid white;
    color: #f5f5f5;
    font-weight: 700;
    padding: 4rem;
}

h1:hover {
    color: #000;
    opacity: 20%;
}

h4{
    color: blueviolet;
    font-weight: 500;
}

h4:first-child{
    color: blueviolet;
    font-weight: 700;
}

main{
    text-align: justify;
    width: 95%;
    margin: -8rem 0 0 2rem;
}

.box-main{
    background-color: #f5f5f5;
    border: 1px solid blueviolet;
    border-radius: 1rem;
    width: 95%;
    height: 180px;
    padding: 2rem;
}

.paragraph{
    padding-left: 10px;
}

p:first-child{
    padding-top: 20px;
}